.meteors-wrapper {
    position: fixed;
    top: 0%;
    right: 0%;
    gap: 10vh;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;

    .meteor-wrapper {
        position: relative;
        transform: scale(-1);
        overflow: hidden;
        border: 1px solid red;

        .meteor {
            position: absolute;
            height: 5vw;
            top: 0;
            right: 0;
        }
    }
}