.meteors-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  gap: 10vh;
  // height 100vh mobil ok
  height: 100vh;
  width: 100%;
  border: 5px solid red;

  .meteor-wrapper {
    position: relative;
    transform: scale(-1);
    overflow: hidden;

    .meteor {
      position: absolute;
      height: 5vw;
      top: 0;
      right: 0;
    }
  }
}

// FLUID TYPOGRAPHY

@media screen and (min-width: 280px) {
  .meteors-wrapper {
    .meteor-wrapper {
      .meteor {
        height: calc(30px + 40 * ((100vw - 280px) / 700));
      }
    }
  }
}

@media screen and (min-width: 980px) {
  .meteors-wrapper {
    .meteor-wrapper {
      .meteor {
        height: 70px;
      }
    }
  }
}
