.planet {
  position: absolute;
  top: -60vw;
  right: 0;
  width: 60vw;
  height: 60vw;
  overflow: hidden;
  opacity: 0.8;

  img {
    position: inherit;
    right: -10vw;
    width: 100%;
    height: 100%;
  }
}