.planet {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    width: 60vw;
    height: 60vw;
    background-color: rgb(236, 112, 112);
    border-radius: 50%;
    opacity: .8;
}