* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wallpoet', cursive;
}

html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}


