* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wallpoet', cursive;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  background-color: rgba(0,175,174,1);
}