* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wallpoet', cursive;
}

html, body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: rgb(208, 214, 214);
}

.scroll-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  z-index: 100;
  border: 5px solid red;
}