$width: 100vw*(1/6.20)*2 - 15.5vw;

.spaceship-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: none;
    height: calc(100% - $width);

    .spaceship {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;

        .spaceship-frames {
            height: 16vw;
            position: absolute;
            bottom: 0;
            right: 0
        }

    }
}