$width: 100vw * (1/6.2) * 2 - 15.5vw;

.spaceship {
  position: absolute;
  bottom: $width / 2;
  left: 50%;
  width: 200px;
  height: 16vw;
  transform: translateX(-50%);
  overflow: visible;
  border: 1px solid red;

  .spaceship-frames {
    height: 16vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
