@import './sass/reset';
@import './sass/title';
@import './sass/land';
@import './sass/spaceship';
@import './sass/meteors';
@import './sass/asteroid';
@import './sass/planet';

// SCROLLABLE ELEMENT

.scrollbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15000px;
  width: 100%;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,123,126,0.7539390756302521) 41%, rgba(0,175,174,1) 100%);
}

.content {
  position: sticky;
  top: 0;
  height: 100%;
  width: 100%;
}