@import './sass/reset';
@import './sass/land';

// SCROLLABLE ELEMENT

.scrollbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15000px;
  width: 100%;
  //border: 2px solid red;
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,123,126,0.7539390756302521) 41%, rgba(0,175,174,1) 100%);
}

.content {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 300;
}