$width: 100vw*(1/6.20)*2 - 15.5vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wallpoet', cursive;
}

html, body, #root {
  position: fixed;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  overflow: hidden;
}

body > .main-wrapper {
  overscroll-behavior: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.scrollytelling {
 
}

.title {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  font-weight: 200;
  caret-color: transparent;
}

.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
  -moz-animation: blink-animation 1s infinite;
}

.land {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

/*.balloon {
  position: fixed;
  top: 25%;
  right: 37.5%;
  width: 8vw;
}*/

.spaceship-wrapper {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: fixed;
  width: 100vw;
  height: calc(100vh - $width);
  //border: 1px solid red;

  .spaceship {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    .spaceship-frames {
      height: 16vw;
      position: absolute;
      bottom: 0;
      right: 0
    }

  }
}

.meteors-wrapper {
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10vh;
  height: 100vh;
  width: 100vw;
  border: 1px solid red;

  .meteor-wrapper {
    position: relative;
    transform: scale(-1);
    overflow: hidden;
    border: 1px solid red;

      .meteor {
      position: absolute;
      height: 70px;
      top: 0;
      right: 0;
    }
  }
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 280px) {
  .title {
    font-size: calc(28px + 68 * ((100vw - 280px) / 700));
  }
}

@media screen and (min-width: 980px) {
  .title {
    font-size: 96px;
  }
}